table {
    font-family: arial, sans-serif;
    color: $blue;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

th {
    background-color: #d4d6d8;
}

.table-button{
    float: right;
    margin-top: 5px;
    margin-left: 2px;
}

.modal{
    &-dec{
        width: 100%;
        color: white;
        background-color: $blue;
    }
    &-foot-dec {
        width:100%;
        background-color:#7bc043;
        color:white;
        text-align: center;
    }
}

.active-margin{
    margin-top: 20px;
}