@import "../mixins/ganttMixins";

// @include createGantt($width, $left, $color)

.gantt{
    &--text{
        position: absolute;
        font-size: 15px;
        top: 0;
        font-weight: 500;
        color: black;
    }
    &-row1{
        @include createGantt(190px, 100px, #f37736);
    }
    &-row2{
        @include createGantt(290px, 160px, #f59892);
    }
    &-row3{
        @include createGantt(220px, 160px, #7bc043);
    }
    &-row4{
        @include createGantt(320px, 210px, #0392cf);
    }
    &-row5{
        @include createGantt(180px, 270px, #d3f5b8);
    }
    &-row6{
        @include createGantt(160px, 420px, #ee4035);
    }
    &-row7{
        @include createGantt(385px, 300px, #fdf498);
    }
}

.gantt-image {
    // background-image: url(/public/images/gantt.png);
    background-color: #909090;
    height: 500px;
    width: 500px;
    display: block;
}