.navbar{
    height: 45px;
    width: 100%;
    background-color: green;
    color:white;
    &__left{
        display: flex;
        margin-left:5px;
        position: relative;
        &-img{
            margin-right: 5px;
            height:25px;
            width:25px;
            background-image: url(/project_management_system/public/images/john.jpg);
            background-size: contain;
            border-radius:25px;
            border: 1.5px white solid;
        }
        &-header{
            margin-top: 4px;
        }
    }
    &__right{
        text-align: right;
        margin-top: 15px;
        &-list{
            list-style-type:none;
        }
    }
    &__center{
        margin-top:5px;
    }
}
