.table{
    &__header{
        color: #2f557b;
        &--left{
            position: absolute;
            display: inline;
            text-align: right;
            right: 0;
            padding-right: 20px;
        }
        &-date{
            display: inline;
            padding-left: 30px;
            &--first{
                padding-left: 80px;
            }
        }
        &-top{
            padding-left: 50px;
        }
    }
}
