.pageSize{
    width: 800px;
}
.home{
    &__buttons{
        margin-bottom: 20px;
    }
}

.body-container {
    display:inline-block;
    margin-top:20px;
    margin-right: -20px; 
    margin-left: -20px;
    margin-bottom:20px;
}
